.special {
    background-color: lavender;
    border: dotted 50px red;
    color: pink;
    font-weight: bold;
}

#challenge {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #bfbff1;
}

#problems {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #bfbff1;
}

#results {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #bfbff1;
}
