.special {
    background-color: lavender;
    border: dotted 50px red;
    color: rgb(41, 41, 41);
    font-weight: bold;
}

#minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

