#output {
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px black;
    min-height: 100px;
  }

.minor-section  {
    background-color: rgb(161, 175, 225);
    padding: 25px;
    font-size: 120%;
}