#output {
    background-color: rgb(245, 194, 251);
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    border: solid 2px rgb(165, 50, 148);
    min-height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.minor-section  {
    background-color: rgb(161, 205, 225);
    padding: 25px;
    font-size: 120%;
}

