/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
h1 {
  color: #13434d;
  font-size: 200%
}
p {
  font-family: "cursive";
  text-indent: 20px;
  margin-left: 10px;
}
#content {
  background-color: #7ec1cf;
  width: 600px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 5px #444444;
  font-size: 20px;
  div {border-style: dotted;}
}